main{
    display: block;
}

section h2{
    text-align: center;
}

#tabela{
    width: 100%;
}


#tabela, #tabela th, #tabela td{
    border: 0.1em solid black;
    border-collapse: collapse;
}

#tabela thead{
    background-color: #00bfff;
    color: white;
}

#tabela td{
    padding: 0.5em;
}

#tabela td:nth-child(1){
    text-align: left;
}

#tabela tbody tr:nth-child(even){
    background-color: #f2f2f2;
}